* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}
.quote {
  margin: 80px 0 20px 0;
  text-align: center;
}
.quote-text {
  font: 24px;
}
.quote-author {
  font: 18px;
  color: #555;
}

.book-gallery {
  margin: 20px auto;
  max-width: 750px;
  min-width: 300px;
}

.category-title {
  font-size: 22px;
  margin: 20px 20px 0px 20px;
  text-align: left;
  font-weight: bold;
}

.books {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
  justify-content: center;
  padding-bottom: 20px;
  margin: 0px 20px;
}

.book {
  width: 100%;
  aspect-ratio: 2/3;
  max-width: 150px;
  background-color: #e0e0e0;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  min-width: 100px;
}
.book img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.book .rating {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: gold;
  font-size: 12px;
}

hr {
  height: 1px;
  border: none;
  background-color: #888888;
  margin: 0px 20px;
}

.stars,
.fa-star-half-stroke,
.fa-star {
  margin-top: 5px;
  font-size: 14px;
  color: gold;
}
/*  @media screen and (min-width:600px){
    .book{
        height: 300px;
        width: 200px;
        
    }

} */

.book-wrapper {
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.book-wrapper:hover {
  transform: scale(1.05);
}

.modal {
  position: fixed;
  display: flex;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.modal.show .modal-content {
  transform: scale(1);
}
.modal-content {
  margin: 20px;
  background-color: #fff;
  min-height: 200px;
  padding: 20px;
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: scale(0.1);
  transition: transform 0.3s ease;
}

.modal-content .fa-xmark {
  font-size: 20px;
  color: #212429;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  padding: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.modal-content .fa-xmark:hover {
  background-color: #212429;
  color: white;
}

.modal-image {
  /* margin: 5px; */
  height: 200px;
  aspect-ratio: 2/3;
  border-radius: 5px;
  overflow: hidden;
}
.modal-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.left-wrapper,
.right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 600px) {
  body {
    min-width: 320;
    overflow-x: auto;
  }
  .books {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
  }
}
