:root {
  --pink: hsl(338, 70%, 55%);
  --teal: hsl(183, 70%, 62%);
  --white: hsl(334, 7%, 95%);
  --maintext: 600px;
  --secondarytext: 450px;
  --linktext: 300px;
  --normaltext: 50px;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #090d11;
  position: relative;
  cursor: none;
}
html {
  font-family: Poppins;
  color: #f0f0f0;
}
.wrapper {
  /* visibility: hidden; */
  border: 1px solid #fed926;
  width: 100%;
  margin-inline: auto;
  position: absolute;
  height: 50px;
  margin-top: 5rem;
  overflow: hidden;
  background-color: #fed926;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
.wrapper.wrapper1 {
  /* right: 10%; */
  transform: rotate(-10deg);
  top: 15%;
  left: 5%;
  width: 90%;
  z-index: -2;
}
.wrapper.wrapper2 {
  /* left: 10%; */
  top: 30%;
  left: 20%;
  transform: rotate(70deg);
  z-index: 3;
  width: 100%;
}
@media (min-width: 1600px) {
  .wrapper.wrapper2 {
    left: 20%;
  }
}
@media (max-width: 1400px) {
  .wrapper.wrapper2 {
    left: 30%;
  }
}
@media (max-width: 800px) {
  .wrapper.wrapper2 {
    left: 40%;
  }
}
/* @media (min-width: 1200px) {
  .wrapper.wrapper2 {
    left: 20%;
  }
}
@media (min-width: 1400px) {
  .wrapper.wrapper2 {
    left: 10%;
  }
} */
.tape-unit .text {
  font-size: 50px;
  margin-left: 20px;
}
.tape-unit {
  width: 500px;
  height: 50px;
  background-color: #fed926;
  font-family: 'Helvetica Condensed', 'Helvetica', sans-serif;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  right: max(calc(500px * 3), 100%);
  animation: scrollright 10s linear infinite;
}
.tape-unit .slash {
  height: 50px;
  width: 10px;
  background-color: black;
  transform: skew(195deg);
}
@keyframes scrollright {
  to {
    right: -500px;
  }
}
.tape-unit.item1 {
  animation-delay: calc(10s / 4 * (4 - 1) * -1);
}
.tape-unit.item2 {
  animation-delay: calc(10s / 4 * (4 - 2) * -1);
}
.tape-unit.item3 {
  animation-delay: calc(10s / 4 * (4 - 3) * -1);
}
.tape-unit.item4 {
  animation-delay: calc(10s / 4 * (4 - 4) * -1);
}

.freespace {
  height: 300vh;
}
/*
Colors to use? 
  color: #fbaa01;
  */
.card-wrapper {
  min-height: 100vh;
  width: 100vw;
  /* background: #0b0d15; */
  background: rgba(9, 13, 17, 255);
  color: #a2a5b3;
  align-content: center;
  position: relative;
  z-index: 1;
}

.card {
  margin: 0 auto;
  padding: 40px;
  width: 40vw;
  min-width: 500px;
  background: #1c1f2b;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  position: relative;
  font-family: 'Montserrat';
  font-size: 70px;
  font-weight: bold;
  /* color: #fed926; */
  text-shadow: 0 0 0.25em currentColor;
  transform-style: preserve-3d;
  transform: perspective(15000px) rotateY(var(--rotateY))
    rotateX(var(--rotateX));
}
.first {
  color: var(--pink);
}
.second {
  color: var(--teal);
}
.card h3 {
  font-size: 20px;
  color: var(--white);
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    from var(--angle),
    transparent 0%,
    /* Transparent start */ transparent 35%,
    /* Transition starts */ orange 40%,
    /* Start of orange */ orange 45%,
    /* Full orange at 45% */ transparent 50%,
    /* Fading out of orange */ transparent 85%,
    /* Transparent until next transition */ orange 90%,
    /* Next orange segment starts */ orange 95%,
    /* Full orange at 95% */ transparent 100% /* End with transparent */
  );
  top: 50%;
  z-index: -1;
  left: 50%;
  translate: -50% -50%;
  padding: 6px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
  transform: translateZ(-50px);
}
.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
/* .extra-container::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: black;
  filter: blur(15px);
  opacity: 0.5;
  z-index: -20;
  transform: translateZ(-49px);
  border-radius: 10px;
} */

/* .extra-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: blue;
  z-index: -2;
} */
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.blank {
  height: 100vh;
}
.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999999;
}
.gif {
  align-items: center;
  justify-content: center;
  display: flex;
  scale: 1.5;
  margin: 120px;
  padding: 20px;
  /* z-index: 1;
  position: relative;
  pointer-events: none; */
}

.scroller {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.scrolling-text {
  font-family: 'Montserrat';
}

.scrolling-text.big {
  font-size: var(--maintext);
  color: rgba(153, 136, 127, 0.7);
  transform: translate(-50px, 0px);
}
.scrolling-text.small {
  font-size: var(--secondarytext);
  /* color: #cf6442; */
  background: linear-gradient(
    to left,
    #cf6442,
    #ffa600
  ); /* Gradient background */
  -webkit-background-clip: text; /* Clipping background to text */
  background-clip: text;
  color: transparent; /* Set the text color to transparent */
  transform: translate(150px, 150px);
}
.scrolling-text.big,
.scrolling-text.small {
  position: absolute;
}

.links-section {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  font-family: 'Montserrat';
}
.link {
  transition: transform 0.3s linear;
  /* background-color: pink; */
  text-decoration: none;
  color: #99887f;
  font-size: 300px;
}
.link a {
  text-decoration: none;
  color: #a2a5b3;
  transition: color 3.3 ease;
}
.link:hover {
  transform: translateX(30px);
}
.link:hover a {
  color: #082cc4;
}

.links-section .text {
  color: #cf6442;
  font-size: 50px;
}
.styled-hr {
  border: none; /* Remove the default border */
  height: 2px; /* Height of the line */
  background-color: #333; /* Color of the line */
  margin: 20px 0; /* Margin for spacing */
  width: 80%; /* Width of the line */
}
